<div class='container mt-3 mb-5'>
  <%= render 'shared/user', user: @user %>

  <div class='bio accordion'>
    <h3 class='title'>Bio</h3>
    <p><%= @user.bio %></p>
  </div>

    <% @user.posts.first(3).each do |post| %>
        <div class='card mb-2 p-2'>
          <h4><%= post.title %></h4>
          <%= render 'shared/post', post: post %>
        </div>
    <% end %>
   
   <div class='d-flex justify-content-center align-items-center'>
    <%= link_to 'See all posts', user_posts_path(@user) %>
   </div>
</div>
