<div class='container mt-3 mb-5'>
  <%= render 'shared/user', user: @user %>
  
  <div class='row'>
    <div class='d-flex justify-content-between align-items-center mt-4'>
      <h5>Posts List</h5>
      <%= link_to 'Add New', new_user_post_url(@user), class: 'btn btn-primary' %>
    </div>
  </div>

  <% @posts.each do |post| %>
    <div class='row card pt-2 pb-2 mb-3 mt-4'>
      <h4><%= link_to post.title, user_post_path(@user, post) %></h4>
      <p><%= post.text %></p>
      <div class='d-flex justify-content-between'>
         <% if can? :destroy, post %>
          <span class='pb-2'>
            <%= button_to "Delete", user_post_path(@user, post), method: :delete, data: { confirm: "Are you sure?" }, class:'btn btn-outline-danger btn-sm' %>
          </span>
         <% end %>
         
         <div class='d-flex justify-content-end gap-2 pb-2'>
          <span>Comments: <%= post.comments_counter %> </span>
          <span> Likes: <%= post.likes_counter %></span>
         </div>
      </div>

      <div class='container card-body border-top'>
        <h5>Comments List</h5>

        <%post.comments.each do |comment| %>
          <div><%= comment.author.name %>: <%= comment.text %></div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class='d-flex pagination justify-content-center align-items-center'>
    <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
    <% if @posts.count > 10 %>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
  </div>
</div>