<div class='container'>
  <div class='post-info'>
    <h4 class='post-title'><%= @post.title %> <%= @post.author.name %></h4>
    <div class='top-comments-likes'>
      <span>Comments: <%= @post.comments_counter %> </span>
      <span>&nbsp;</span>
      <span> Likes: <%= @post.likes_counter %></span>
    </div>
    <p class='post-body'><%= @post.text %></p>
    <ul class='comments'> 
      <%@post.comments.each do |comment| %>
        <li><%= comment.author.name %>: <%= comment.text %></li>
      <% end %>
    </ul>
  </div>

  <div class='footer'>
    <%= link_to 'Back to all', user_posts_path(@user, @post) %>
  </div>
</div>