<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='container-fluid px-5 d-flex justify-content-end bg-dark text-white user'>
      <% if user_signed_in? %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "custom-button" %>
      <% else %>
        <%= button_to 'Sign in', new_user_session_path , class: "custom-button" %>
      <% end %>
    </div>
    <div class='row'>
      <div class='container'>
        <% if alert %>
          <div class='d-flex justify-content-center alert alert-warning alert-dismissible fade show role alert'>
            <%= alert %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

        <% if notice %>
          <div class='d-flex justify-content-center alert alert-info alert-dismissible fade show role alert'>
            <%= notice %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
